@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% / 0;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100% / 0;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 14% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 244 34% 54%;
    --primary-foreground: 240 5% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 302 34% 54%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 244 34% 54%;
    --radius: 0.5rem;
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-primary: 244 34% 54%;
    --sidebar-primary-foreground: 240 5% 98%;
    --sidebar-ring: 244 34% 54%;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 240 5% 95%;
    --card: 240 10% 12%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 244 34% 70%;
    --primary-foreground: 244 34% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 302 34% 70%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 5% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 244 34% 70%;
    --sidebar-background: 240 3.7% 15.9%;
    --sidebar-foreground: 240 5% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 5% 98%;
    --sidebar-primary: 244 34% 70%;
    --sidebar-primary-foreground: 240 5% 98%;
    --sidebar-ring: 244 34% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
